.body{
     
     background:lightskyblue;
     text-align:center;
     color:white;
}

#heading{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color:lightyellow;
}

#text{
    
    font-size: 30px;
    color:lightseagreen;
}